html {
  overflow-x: hidden;
}

.main-navbar {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    height: 150px;
    width: auto;
    max-width: none;
  }
}

.gray-section {
  background-color: #f7f8fc;
  padding: 50px;
}

.container {
  padding: 50px;
}

figure {
  margin: 0;
}

.header-text, .section-title, .main-header-text {
  font-family: 'Bebas-Bold' !important;
  font-weight: bold !important;
  font-size: 4em;
  line-height: 1em !important;
  color: #585858;
}

@media (max-width: 768px) {
  .header-text {
    font-size: 1.5em;
  }
  .sub-header {
    font-size: 4em;
  }

}