@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

@font-face {
  font-family: 'Bebas-Bold';
  src: url("/type/BebasNeue-Bold.ttf?ofrduu") format('truetype');
  font-weight: bold;
  font-style: normal;
}