footer {
  background: rgb(21, 21, 21);
  padding: 60px;
  color: white;

  .social {
    svg {
      position: relative;
      top: 6px;
    }
  }

  .divider {

    line-height: 227px;
    font-size: 10em;
  }

  .about-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .my-image {
      height: 150px;
      float: left;
      border-radius: 100%;
    }

    .main-info {
      margin: 0;
    }
  }

  a {
    font-style: italic;
  }

  .contact-button {
    width: initial;
    background: white;
    color: black;
    font-style: initial;
    text-decoration: none;
    padding: 1px;
    font-size: 20px;
    margin-bottom: 10px;
  }
}



.footer [class*="col-"] .widget {
  margin-top: 30px
}

.footer [class*="col-"] .widget:first-child {
  margin-top: 0
}

.footer .inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .inner:not(.display-block) {
  display: table;
}

.footer-logo {
  height: 124px;
}

.footer- .sub-footer {
  display: table;
  width: 100%;
}

.sub-footer p {
  margin: 0;
}

footer p {
  margin: 0;
}

#scroll-up {
  div {
    z-index: 1;
  }
  .scroll-up-icon {
    font-size: 17px;
    margin: 0;
    letter-spacing: normal;
    //padding: 12px 14px 14px 14px;
  }
}

.contact-heading {
  padding-top: 10px;
  font-size: 1.2em;
  color: white;

}

.contact-link {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  display: inline-block;

  &:first-of-type {
    margin-bottom: 0;
  }

  &:hover {
    color: darkgrey;
  }
}

.keyword {
  font-size: 25px;
}

.zola-badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-footer {
  padding: 0 390px;
}

@media (max-width: 768px) {
  .about-me {
    margin-top: 50px;
    flex-flow: column;
  }

  .sub-footer {
    padding: 0;
  }

  .zola-badge {
    margin-top: 45px;
  }
}